:root {
  --hue-gradient: linear-gradient(to right,
      #ff0000 0%,
      #ffff00 17%,
      #00ff00 33%,
      #00ffff 50%,
      #0000ff 67%,
      #ff00ff 83%,
      #ff0000 100%);

  --ui-color: #666666;
  --info-color: #333333;
  --ui-border: 1px;

  --thumb-size: 18px;
  --thumb-radius: 5px;
  --thumb-border: 2px;

  --ui-margin: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  color: var(--ui-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
  font-family: "Geist Mono", monospace;
    font-weight: 400;
}

#flasaInfo {
  display: block;
  position: absolute;
  top: 40px;
  color: var(--info-color);
  font-size: 12px;
}

#appInfo {
  display: block;
  position: absolute;
  bottom: 40px;
  color: var(--info-color);
  font-size: 12px;
}

.brandName {
  left: var(--ui-margin);
}

.appName {
  left: 50%;
  transform: translateX(-50%);
}

.appVer {
  right: var(--ui-margin);
}

#sketch-wrapper {
display: block;
  transform: none; 
}

textarea {
  resize: none;
  background: none;
  width: 100%;
  color: var(--ui-color);
  height: 30px;
  border: var(--ui-border) solid var(--ui-color);
  border-radius: 30px;
  padding-left: 15px;
  padding-top: 6px;
  margin-top: 15px;
}

textarea::placeholder {
  font-size: 11px;
  color: var(--ui-color);
}

input {
  width: 100%;
}

label {
  display: block;
  font-size: 11px;
  margin-bottom: 10px;
}

.outputLabel {
  position: relative;
  left: 195px;
  top: -36px;
  font-size: 11px;
}

.inputGroup,
.sliderGroup {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.inputGroup {
  left: 50px;
  width: 200px;
}

.sliderGroup {
  right: 50px;
  width: 200px;

}

.sliders {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  height: 24px;
}

/* --- TRACK (Chrome/Safari) --- */
.sliders::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 999px;
  background: var(--hue-gradient);
  border: none;
}

/* --- THUMB (Chrome/Safari) --- */
.sliders::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border: var(--thumb-border) solid #000000;
  border-radius: var(--thumb-radius);
  background: hsl(var(--h, 0) 100% 50%);
  transform: rotate(45deg);
  margin-top: -7px;
  /* vycentruje thumb na 4px track */
}

/* --- Firefox track --- */
.sliders::-moz-range-track {
  height: 4px;
  border-radius: 999px;
  background: var(--hue-gradient);
  border: none;
}

/* --- Firefox thumb --- */
.sliders::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  border: var(--thumb-border) solid #000000;
  border-radius: var(--thumb-radius);
  background: hsl(var(--h, 0) 100% 50%);
  transform: rotate(45deg);
}

#exportPdfBtn {
  display: block;
  margin-top: 15px;
  width: 100%;
  height: 30px;
  border-radius: var(--thumb-radius);
  border: none;
  background: #444444;
  color: #000000;
  font-size: 11px;
  cursor: pointer;
  padding-bottom: 2px;
  }
